<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='/stylesheets/style.css' />
          <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body>
  <div class="afterSignIn" border = "10">
            <div class="panel panel-primary">
      <!-- Default panel contents -->
        <div class="panel-heading" ><b> Calculator </b></div>
        <br>
        <div class="panel-body">
            
		               <div class="form-group  firstNumDiv" align = "justify">
		                  <label class="firstNum" class="col-sm-2 control-label pull-left">Enter First number :</label>
		                  <div class="col-sm-10">
		                      <input type="text" class="form-control" name="oneNumber" id="oneNumber" placeholder="First">
		                      <br>
		                  </div>
		               </div>
	                  <div class="form-group  firstNumDiv" align = "justify">
	                    <label class="secondNum" class="col-sm-2 control-label pull-left">Enter Second number :</label>
	                    <div class="col-sm-10">
	                      <input type="text" class="form-control" name="otherNumber" id="otherNumber" placeholder="Second">
	                      <br> <br>
	                    </div>
	                  </div>
	                  
	                  <div>
	                  <div class = "form-group  firstNumDiv" >
	                    <label class = "selection" class="col-sm-2 control-label pull-left">Select a operation:</label>
	                    <div class="col-sm-10">
	                    <select id="operations" width ="5">
	                        <option>Select</option>
            				<option>Addition</option>
            				<option>Subtraction</option>
            				<option>Multiplication</option>
            				<option>Division</option>
           				 </select>
           				 <br> <br>
           				 </div>
                         
	                                   
	                  <div class="form-group calculate" >
	                    <div class="pull-left" size = "10">
	                      <button type="submit" class="btn btn-primary " onclick = "AjaxPostCall()" >Calculate</button> <br>
	                    </div>
	                  </div>
	                  <br>
	              
	              
	              <br> 	<p id="r" align = "center"> </p>
       </div>
	</div>
	</div>
	
<script type="text/javascript">
  
   
   
	function AjaxPostCall() {
	
		var num1 = Number(document.getElementById("oneNumber").value);
		var num2 = Number(document.getElementById("otherNumber").value);
		
		 var operation = document.getElementById("operations").value;
		
		$.ajax({
		
			url:"/addition",
			datatype : "JSON",
			data : {"num1": num1 , "num2" : num2 ,"operation" : operation},
			type:'GET',
						
			success: function (num3) {
				 document.getElementById("r").innerHTML= "The Answer is: " + num3;
  			},

   		error: function () {  
  				alert("error");
   		} 
		});
	}

   </script>

   
  </body>
</html> 