<!DOCTYPE html>
<html ng-app="myApp">
<head>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../app.js"></script>

<script type="text/javascript">

	var myApp = angular.module('myApp', []);

	myApp.controller('checkBoxController', function($scope,$http) {
		
		/*$scope.getdata=function(){
			
			$http({
			
				method: "GET",
				url: '/redirectToHomepage',
				
				
				
			}).success(function(data){
				
			$scope.total=data.total;
			$scope.list=data.list;
			
			}).error(function(error){
				
			});
			
	
			
		}*/
		$scope.items = [ {
			name : 'Ham and Cheese: $',
			cost : 10,

		}, {
			name : 'Steak and Cheese: $',
			cost : 8,

		}, {
			name : 'Veggie Delite: $',
			cost : 7,

		}, {
			name : 'Subway Club: $',
			cost : 12,

		}, {
			name : 'Salad: $',
			cost : 12,

		}, {
			name : 'Coke: $',
			cost : 1.25,

		}, {
			name : 'Oven Roasted Chicken: $',
			cost : 5,

		}, {
			name : 'Coffee: $',
			cost : 6,

		} ];
		$scope.selection = [];
		$scope.sum = 0;

		// toggle selection for a given item by name
		$scope.toggleSelection = function toggleSelection(item) {
			var idx = $scope.selection.indexOf(item);

			// is currently selected
			if (idx > -1) {
				$scope.sum -= item.cost;
				$scope.selection.splice(idx, 1);

			}

			// is newly selected
			else {
				$scope.sum += item.cost;
				$scope.selection.push(item);

			}

		};

		/* $scope.add = function add() {
		
			$scope.sum=0;
			for (var i = 0; i < $scope.selection.length; i++) {
			$scope.sum+=$scope.selection[i].cost;
			
		}

		
		};  */
	});
</script>
</head>
<body style:background-color = "#f5f5f5">

	<div class="container" style="border: 6px solid black;" ng-controller="checkBoxController">


		<div class="row">

			<div class="col-md-6" style="border: 4px solid magenta; height: 600px; padding: 10px">
				<h2 align="center">Welcome to SUBWAY !!</h2>

				

					<div class="panel" ng-repeat="item in items" class="action-checkbox">



						<input id="{{item.name}}" type="checkbox" class="btn btn-primary"  value="{{item.name}}"
							ng-checked="selection.indexOf(item) > -1"
							ng-click="toggleSelection(item)"> 
							<label for="{{item}}"> </label>
						{{item.name+item.cost}}



					</div>

				<form action="addToCart" method="post">
				 	<input type="submit" value="Add To Cart" >
				 	<input type="hidden"value={{selection}} name="selection">
				</form>

			</div>
			<div class="col-md-6" style="border: 4px solid purple; height: 600px;">
				<h2>Your Order</h2>



				<div ng-init="getData" ng-repeat="item in selection" class="selected-item">

					{{item.name}}{{item.cost|currency}}</div>


				<table>
					<tr>
						<td>Total:</td>
						<td>{{sum|currency}}</td>
					</tr>
				</table>


			</div>


		</div>
		<div class="row">
			<div></div>
		</div>

	</div>

</body>
</html>

